body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    animation: funkyBackground 20s infinite alternate; 

    background-image: url('bg.jpg'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #e1e1e1;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

